/*
ERIC MEYER RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}



/* style sheet rules begins heres */


body { width: 100%; line-height: 1; color: #535F53; background: #F0FFFF;font-family: Helvetica, Verdana, Arial, sans-serif;margin: 2em;

;}
ol, ul { list-style: none; }
ol, ul { list-style: none; }
a { text-decoration: none; border: none; color: darkcyan; }
a:hover { text-decoration: underline; }


/*p { margin-bottom: 30px; width: 100%; }*/

small { font-size: 0.8em; }
strong { font-weight: bold; }

#header {font-family: chalkduster; font-size: 3em; color:#008B8B;}

#wrapper { width: 960px; margin: 7px auto; background: ##66CCFF}
#signup{background-color: #afeeee;color:white;text-align:right;}
#signup h1{font-size:3em;text-align:left;color:#809131;font-family:"colona mt";}
#signup h2{font-size:1em;text-align:left;color:#535F53}

#Profile { width: 100%; height: 98px; clear: both; font-family: Georgia, "Palatino Linotype", "Times New Roman", serif; color: #683a94; float: left; background: transparent; }

#Profile h1 { font-size: 0.8em; margin-left: 5px; letter-spacing: 0.078em; margin: 5px; font-weight: normal; text-indent: -1000em; }

#navigation { width: 100%; clear: both; background-color: #CCFFFF; overflow: hidden; border-bottom: 2px solid #8b9d35; font-variant: normal; font-size: 1.3em; /*font-family: Georgia, "Palatino Linotype", "Times New Roman", serif; */}
#navigation ul {  }
#navigation ul li {display: inline; margin: 0; font-variant: small-caps; }
#navigation ul li a { display: inline-block; padding: 5px 10px 5px; letter-spacing: 0.05em; }
#navigation ul li a:link, #navigation ul li a:visited { color: #030; }
#navigation ul li a:hover { background-color: #d7e1a6; text-decoration: none; }


#navigation a {
    /* Rules for navigation items */
}
#navigation a:hover {
    /* Rules for navigation items */
}
#post_content a { text-decoration: none; border: none; color:grey;}
#post_content font{color:deepskyblue;}
.profile_chatter{
    border: medium solid darkcyan;
    padding: 2em;
    margin-bottom: 2em;
}



form, fieldset { width: 100%; }
fieldset { border: 1px solid #e6e6e6; }
input, textarea, select { margin: auto 5px; font-family: Verdana, Arial, sans-serif; padding: 2px; font-size: 12px; }
legend { margin: 20px 10px; padding: 5px 10px; }
label { display: inline-block; width: 30%; text-align: right; vertical-align: top; margin-top: 3px; }

